@media (min-width: 736px) {
  body {
    font: 16pt Helvetica;
  }

  .choice {
    height: 30%;
  }
}

#trivia {
  display: block;
}

.question-wrapper {
  width: 75%;
  margin: auto;
  border-radius: 2em;
  background: #eee;
  margin-bottom: 1em;
}

.question {
  margin: 1em;
  padding: 1em;
  white-space: pre-line;
}

.choices {
  display: flex;
  width: 75%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 2em;
  background: #eee;
}

.choice {
  border: 1px solid;
  width: 45%;
  height: 20%;
  background: white;
  border-radius: 1em;
  margin: 5px;
}

.choice > div {
  padding: 5px 1em;
}
